* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul li {
  display: inline;
  padding: 10px;
}
body {
  background-color: #112e79;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.degrade {
  background-image: linear-gradient(to bottom, #112e79, #101122);
}
.caixa-topo {
  background-color: #101122;
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: content-box;
}
.barra-de-busca {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 10px;
  border-radius: 10px;
  width: 500px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.play {
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  font-style: italic;
}
.hub {
  color: #102c73;
  margin-top: 10px;
  font-size: 40px;
  font-style: italic;
}
.atalho {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  margin: 5px;
}
.container-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem-perfil {
  border: 10px;
  border-radius: 20px;
  max-width: 100%;
  height: 800px;
}
